@import url('https://fonts.googleapis.com/css?family=Baloo+Da&display=swap:400,500,600,700,800');

/*----colors*/
.bckPrimaryColor {
    background-color: rgb(31, 26, 26);
}

.bckgSecondaryColor {
    background-color: rgb(48, 44, 44);
}

.green {
    color: darkgreen;
}

.red {
    color: red;
}

.yellow {
    color: rgb(197, 197, 3);
}

/*----main*/
body {
    margin: 0;
    height: 100%;
    font-family: "Baloo Da", cursive, "Sans-serif";
    font-size: 14px;
    background-image: url("../images/simon-game-bckground.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 98vh;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: auto;
}

.simonFont {
    font-family: "Baloo Da", cursive, "Sans-serif";
}

.bckgroundImageCover {
    position: absolute;
    top: 0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.panel {
    border: 2px solid rgb(48, 44, 44);
}

/*--section*/

.disclaimer {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 40vw;
    min-width: 320px;
    width: 100%;
    color: rgb(212, 211, 211);
    text-align: center;
}

/*--footer*/
footer {
    position: absolute;
    top: 90vh;
    min-height: 150px;
    width: 100vw;
    padding: 30px 0 10px;
}

.footer-menu {
    max-width: 35%;
    min-width: 140px; 
}

.footer-menu .list-group-item{
    background-color: rgb(212, 211, 211);
    border-color: rgb(31, 26, 26);
}

.footer-menu .list-group-item a {
    text-decoration: none;
    color:rgb(48, 44, 44);
}
footer .icon-set {
    font-size: 28px;
}

/*--Media queries--*/

@media only screen and (min-width: 768px){
    
    .caret {
        display:none;
    }
} 